.chat-main__body--id
  = message.id
.chat-main__body--name
  = message.user.name
.chat-main__body--date
  = message.created_at
.chat-main__body--message
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
